/* re-add add/edit/more - mod by Valerio Lyndon */

.add-edit-more {
	display: block; 
}

.list-table tbody.list-item {
	background: linear-gradient(
		to bottom,
		transparent 2px,
		#d7d1b9 2px,
		#d7d1b9 5px,
		transparent 5px,
		transparent 45px,
		#d7d1b9 45px,
		#d7d1b9 48px,
		transparent 48px,
		transparent 50px,
		#d7d1b9 50px
	);
	background-color: #d7d1b9;
}

.list-table .more-info {
	background: #d7d1b9;
	border: none;
	color: #4d4940;
}

.list-table .more-info tbody {
	background: none;
}

.list-table .more-info a {
	color: inherit;
}

/* Home Link */

.header .header-title {
	position: fixed;
	top: auto;
	bottom: 55px;
	right: 25px;
	
	display: block !important;
	width: auto;
	height: 30px;
	padding: 0 15px;
	background: #aea993 linear-gradient(to right, #b3ac98, #aea993);
	box-shadow: 0px 0px 6px #aea993;
	border-radius: 3px 3px 0 0;
	
	color: #4d4940;
	font: normal 0/30px 'Helvetica neue', Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif;
	text-indent: 0;
} .header .header-title:hover {
	background: #5f5a4a;
	box-shadow: 0px 0px 6px #5f5a4a;
	color: #d1cbb3;
	text-decoration: none;
	transition: background .2s, color .2s, height .2s, box-shadow .2s;
}

.header .header-title:after {
	content: "< BACK TO HOME";
	font-size: 13pt;
	letter-spacing: 1.5px;
}